// font-family: 'Roboto', sans-serif;
*{
    font-family: 'Roboto', sans-serif !important;
}
html{
    // position: relative;
}
body{
    overflow-x: hidden;
    position: relative;
}


// Toggle classes for chevrons
.rotate-chevron{
    transform: rotate(180deg);
}
