{% include 'partials/header' %}


<div class="container-fluid" id="thankYouGreen">
    <div class="row liteGreenBG">
        <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 p-5">
            <h3><strong>Congratulations</strong> looks like you are qualified to join flatbed's finest</h3>
            <p>That means you're one step closer to a rewarding career at Boy Bros</p>
        </div>
    </div>
    <div class="row darkGreen-bg">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5 text-center">
            <img class="img-fluid" src="/assets/images/Image22x.png" alt="">
        </div>
    </div>
    <div class="row gradientBG">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5">
            <h1>So what happens next?</h1>
            <p>one of our recruiters will call you with information about current openings shortly</p>
            <p>In the meantime, get a head start by filling out your full applications</p>

            <div class="buttonRow text-center">
                <a href="#" class="btn btn-success">Full App</a>
                <a href="#" class="btn btn-outline-success">Full App</a>
            </div>

            <div class="socialThankYou">
                <p>we'd love to hear from you on social</p>
                <ul>
                    <li><i class="fab fa-facebook-square"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% include 'partials/footer' %}