<div class="container-fluid" id="accordion">
<div class="container">
    <div class="row">
        {# card buttons #}
        <div class="col-sm-12 col-md-6 p-0">
        {# card 1 #}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link rotateBtn" id="collapse-1" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <strong>STUDENTS</strong>
                    </button>
                    <i class="fas fa-chevron-left ml-5"></i>
                </div>
            </div>
        {# card 2 #}
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-link collapsed rotateBtn" id="collapse-2" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <strong>DRIVING ACADEMY</strong>
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        {# card 3 #}
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-link collapsed rotateBtn" id="collapse-3" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <strong>COMPANY DRIVERS</strong>
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        {# card 4 #}
            <div class="card">
                <div class="card-header" id="headingFour">
                    <button class="btn btn-link collapsed rotateBtn" id="collapse-4" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        <strong>OWNER OPERATORS</strong>
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        {# card 5 #}
            <div class="card">
                <div class="card-header" id="headingFive">
                    <button class="btn btn-link collapsed rotateBtn" id="collapse-5" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        <strong>MILITARY</strong>
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        {# card 6 #}
            <div class="card">
                <div class="card-header" id="headingSix">
                    <button class="btn btn-link collapsed rotateBtn" id="collapse-6" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        <strong>LEASE PURCHASE</strong>
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

        </div>

        {# Card info #}
        <div class="col-sm-12 col-md-6" style="position:relative; background:#fff;">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>