<div class="container-fluid" id="accordion">
    <div class="row">
        {# card buttons #}
        <div class="col-sm-12 col-md-6 p-0">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link rotateBtn" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed rotateBtn" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed rotateBtn" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed rotateBtn" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed rotateBtn" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed rotateBtn" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
            </div>



        </div>

        {# Card info #}
        <div class="col-sm-12 col-md-6">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body py-3 px-5 mt-3">
                    <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and unlock
                        their
                        true earning potential</p>
                    <ul>
                        <li> <span class="green">Lease purchase settlements 65% of haul</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                        <li>zero down <span class="gray">no money required to get started</span></li>
                    </ul>
                    <div class="mt-5 text-center">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>