<div class="container-fluid" id="blue">
    <div class="row blue-top pt-4 pb-3">
        <h1>CDL-A Flatbed Truck Driving Jobs at Boyd Bros.</h1>
    </div>
    <div class="row pt-5 blue-bottom">
        <div class="col-sm-6">
            <img src="/assets/images/Image22x.png" alt="" class="img-fluid">

            <div class="container">
                <div class="row py-3">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="images glide">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    <li class="glide__slide">
                                        <div class="gallery-cell">
                                            <i class="fas fa-play-circle"></i> <br>
                                            <p>Welcome to Boyd Bros.</p>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="gallery-cell">
                                            <i class="fas fa-play-circle"></i> <br>
                                            <p>What its like at Boyd?</p>
                                        </div>
                                    </li>

                                    <li class="glide__slide">
                                        <div class="gallery-cell">
                                            <i class="fas fa-play-circle"></i> <br>
                                            <p>The meaning of Boyd proud</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i
                                        class="fas fa-chevron-left"></i></button>
                                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                                        class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          

        </div>
        <div class="col-sm-5 offset-1">
            <h2>What does it mean</h2>
            <h3>Taking pride in your work and getting the rewards you deserve</h3>
        </div>
    </div>

    <img id="truck-img" src="/assets/images/Boyd_truck@2x-crop.png" alt="">
</div>