<div class="container-fluid" id="blue">
    <div class="row blue-top pt-4 pb-3">
        <h1>CDL-A Flatbed Truck Driving Jobs at Boyd Bros.</h1>
    </div>
    <div class="row pt-5 blue-bottom">
        <div class="col-sm-6">
            <img src="/assets/images/Image22x.png" alt="" class="img-fluid">

            <!-- Flickity HTML init -->
            <div class="container">
                <div class="row py-3">
                    <div class="col-sm-12">
                        <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true, "pageDots": false  }'>
                            <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                                <p>Welcome to Boyd Bros.</p>
                            </div>
                            <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                                <p>What its like at Boyd?</p>
                            </div>
                            <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                                <p>The meaning of Boyd proud</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-sm-5 offset-1">
            <h2>What does it mean</h2>
            <h3>Taking pride in your work and getting the rewards you deserve</h3>
        </div>
    </div>

    <img id="truck-img" src="/assets/images/Boyd_truck.png" alt="">
</div>