<div class="container-fluid pb-3" id="bottom">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-6 left">
                <form class="form-inline" action="{{ url('generalSearch/results') }}">
                    <input class="form-control mr-sm-1" type="search" placeholder="Search" name="q" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>

                <h4>Connect with us today!</h4>
                <ul>
                    <li><a href="https://www.facebook.com/BoydBrosInc/" target="_blank"><i
                                class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/boyd-bros.-transportaton-inc" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://twitter.com/BoydBrosDrivers" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/boyd_bros/" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>

                <a href="#" class="privacy-link">Privacy Policy</a>

            </div>
            <div class="col-sm-6 right">
                <ul>
                    <li><i class="fas fa-phone-volume"></i></li>
                    <li> call driver recruiting <br>
                        <span class="green-number">866-981-1833</span>
                    </li>
                    <li><img src="/assets/logos/chat.png" alt=""></li>
                </ul>
                <img src="/assets/logos/white-logo.png" alt="">
            </div>
        </div>
    </div>
</div>