<div class="container-fluid" id="bottom">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>

            <h4>Connect with us today!</h4>
            <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            </ul>

            <a href="#" class="privacy-link">Privacy Policy</a>

        </div>
        <div class="col-sm-6"></div>
    </div>
</div>