<div class="container-fluid py-5" id="cta">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-4">
                <h1 class="">And the support, respect and recognition you've been searching for in your career</h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                <h1>Ready to learn more about flatbed opportunities at Boyd Bros.?</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="truckIMG">
    <a class="" href="#">Search Jobs</a>
</div>