<div class="container-fluid pt-4" id="green">
    <div class="container p-5">        
        <h1 class="text-center">Here's what to expect with our quick app</h1>
    </div>
    <div class="container py-5">
        <div class="row pb-4">
            <div class="col-sm-12 col-md-6 px-3">
                <ul>
                    <li><i class="far fa-clock"></i> Time -  it takes about 2 min.</li>
                    <li><i class="far fa-handshake"></i> If you'd like We'll contact you &amp; Hel you take the next steps</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 px-3">
                <ul>
                    <li><i class="far fa-star"></i> We'll preapprove you giving you a head start</li>
                    <li><i class="fas fa-bell"></i> You'll get the opportunity to recieve job alerts &amp; updates</li>
                </ul>
            </div>
        </div>        
    </div>
    <div class="row greenApply">
    <a href="#"><span id="applyLottie"></span> Fill out a quick app and we'll help you get started</a>
    </div>
    {# <div class="" id="applyLottie" style="height:150px; width:150px; position:relative"></div> #}
    {# <i class="far fa-check-circle"></i>   #}
</div>