<div class="container-fluid" id="jumbo">
    {# top row #}
    <div class="row jumbo-top">
        <div class="col-sm-5">
            <img class="img-fluid" src="/assets/logos/full-logo.png" alt="">
        </div>
        <div class="col-sm-1 ">
            <span class="span-divider"></span>
        </div>
        <div class="col-sm-6 headline-col">
            <h2>Where flatbed's <br>finest drive!</h2>
        </div>
    </div>

    {# Apply row #}
    <div class="row jumbo-bottom">
        <div class="col-6 offset-6">
            <a class="btn btn-lg btn-success" href=""><i class="fas fa-arrow-right"></i>&nbsp; Let's get started</a>
        </div>
    </div>

    <a class="contactJumbo" href="#">
        <i class="fas fa-comments chat-icon"></i> <br>
        contact <br> options</a>
    </a>
</div>