<div class="container-fluid sticky-top" id="nav">
    {# <div class="container"> #}
        <div class="row">
            <div class="col-md-9">

                <ul class="pl-0">
                    <li class="list-group-item"><a href="/"><img src="/assets/logos/B-logo.png" alt="" height="50"></a>
                    </li>
                    <li class="list-group-item "><a class="flex-fill" href="">Company Driver</a></li>
                    <li class="list-group-item "><a class="flex-fill" href="">Owner Operators</a></li>
                    <li class="list-group-item "><a class="flex-fill" href="">Lease Purchase</a></li>
                    <li class="list-group-item "><a class="flex-fill" href="">Military</a></li>
                    <li class="list-group-item "><a class="flex-fill" href="">Students</a></li>
                    <li class="list-group-item "><a class="flex-fill" href="">Driving Academy</a></li>
                </ul>

            </div>
            <div class="col-md-3  d-flex align-items-center justify-content-end">
                <form  action="{{ url('generalSearch/results') }}">
                    <input type="search" name="q">
                    <i class="fas fa-search"></i>
                </form>
            </div>
        </div>
    {# </div> #}
</div>