<div id="rewards" class="container-fluid p-0">
    <div class="container">
        <div class="whiteBG p-5">
            <div class="row pt-3">
                <div class="col-sm-12 col-lg-7">
                    <h1 class="text-center">We're Taking rewards like:</h1>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-4 d-flex justify-content-center">
                    <ul class="">
                        <li class="">Industry leading pay<span class="listBlue"> (company drivers average 61cpm)</span>
                        </li>
                        <li class="">Reliable Home Time<span class="listBlue"> (95% of our drivers and contractors
                                get
                                home each weekend)</span></li>
                    </ul>
                </div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <ul class="">
                        <li class="">Monthly performance bonus</li>
                        <li class="">Matching 401k</li>
                    </ul>
                </div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <ul class="">
                        <li class="">High-quality equipment</li>
                        <li class="">A strong freight network<br> <span class="listBlue">to keep your earning power
                                strong
                            </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>