<div class="container-fluid p-5" id="road">
    <div class="row pt-2">
        <div class="col-sm-8 offset-sm-2 text-center py-3">
            <h1 class="pb-2">Have you seen what </h1>
            <h1> else Boyd has to offer</h1>
        </div>
    </div>
</div>