<div class="container-fluid" id="accordionMobile">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div id="accordionM">

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMOne">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMOne"
                            aria-expanded="true" aria-controls="collapseMOne">
                            <strong>STUDENTS</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                        </h5>
                    </div>

                    <div id="collapseMOne" class="collapse show" aria-labelledby="headingMOne"
                        data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMTwo">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMTwo"
                            aria-expanded="false" aria-controls="collapseMTwo">
                            <strong>DRIVING ACADEMY</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseMTwo" class="collapse" aria-labelledby="headingMTwo" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMThree">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMThree"
                            aria-expanded="false" aria-controls="collapseMThree">
                            <strong>COMPANY DRIVERS</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseMThree" class="collapse" aria-labelledby="headingMThree" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMFour">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMFour"
                            aria-expanded="false" aria-controls="collapseMFour">
                            <strong>OWNER OPERATORS</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseMFour" class="collapse" aria-labelledby="headingMFour" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMFive">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMFive"
                            aria-expanded="false" aria-controls="collapseMFive">
                            <strong>MILITARY</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseMFive" class="collapse" aria-labelledby="headingMFive" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMSix">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMSix"
                            aria-expanded="false" aria-controls="collapseMSix">
                            <strong>LEASE PURCHASE</strong>
                        </button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseMSix" class="collapse" aria-labelledby="headingMSix" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span class="green">Lease purchase settlements 65% of haul</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                                <li>zero down <span class="gray"> no money required to get started</span></li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>