<div class="container-fluid" id="accordionMobile">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div id="accordionM">

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMOne">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMOne"
                                aria-expanded="true" aria-controls="collapseMOne">
                                Collapsible Group Item #1
                            </button>
                        </h5>
                    </div>

                    <div id="collapseMOne" class="collapse show" aria-labelledby="headingMOne"
                        data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMTwo">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMTwo"
                                aria-expanded="false" aria-controls="collapseMTwo">
                                Collapsible Group Item #2
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMTwo" class="collapse" aria-labelledby="headingMTwo" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMThree">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMThree"
                                aria-expanded="false" aria-controls="collapseMThree">
                                Collapsible Group Item #3
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMThree" class="collapse" aria-labelledby="headingMThree" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMFour">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMFour"
                                aria-expanded="false" aria-controls="collapseMFour">
                                Collapsible Group Item #4
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMFour" class="collapse" aria-labelledby="headingMFour" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMFive">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMFive"
                                aria-expanded="false" aria-controls="collapseMFive">
                                Collapsible Group Item #5
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMFive" class="collapse" aria-labelledby="headingMFive" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-mobile">
                    <div class="card-header card-header-mobile" id="headingMSix">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMSix"
                                aria-expanded="false" aria-controls="collapseMSix">
                                Collapsible Group Item #6
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMSix" class="collapse" aria-labelledby="headingMSix" data-parent="#accordionM">
                        <div class="card-body bg-white">
                            <p class="pl-3">Boyd Bro's lease purchase program helps drivers become their own boss and
                                unlock
                                their
                                true earning potential</p>
                            <ul>
                                <li><span>Lease purchase settlements</span> 65% of haul</li>
                                <li><span>zero down</span> no money required to get started</li>
                                <li><span>zero down</span> no money required to get started</li>
                            </ul>
                            <div class="mt-5 text-center">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>