<div class="container-fluid" id="blueM">
    <div class="row heading">
        <div class="col-sm-12 p-0">
            <h1 class="">CDL-A Flatbed Truck <br> Driving Jobs at Boyd Bros.</h1>
        </div>
    </div>
    <div class="row">
        <img src="/assets/images/Image22x.png" alt="" class="img-fluid">
    </div>

    <div class="row py-5 blueM-bg">
        <!-- Flickity HTML init -->
        <div class="col-sm-10 offset-sm-1">
            <div class="gallery js-flickity"
                data-flickity-options='{ "freeScroll": true, "wrapAround": true, "pageDots": false  }'>
                <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                    <p>Welcome to Boyd Bros.</p>
                </div>
                <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                    <p>What its like at Boyd?</p>
                </div>
                <div class="gallery-cell"><i class="fas fa-play-circle"></i> <br>
                    <p>The meaning of Boyd proud</p>
                </div>
            </div>
        </div>
        {# TEXT-SECTION #}
        <div class="blue-text-section row py-5">
            <div class="container">
                <div class="row">
                    <div class="col-5 offset-1">
                        <h1>What does it mean to be flatbed's finest</h1>
                    </div>
                    <div class="col-1">
                    <span class="span-dividerM"></span>
                    </div>
                    <div class="col-5">
                        <h2>Taking pride in your work and getting yout the rewards you deserve</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <img  id="truck-imgM" src="/assets/images/Boyd_truck_crop.png" alt="">
</div>