<div class="container" id="contactM">
    <div class="row">
        <div class="col-7 text-center">
            <img class="img-fluid" src="/assets/logos/full-logo.png" alt="">
        </div>
        <div class="col-5 text-center">
            <a class="contactJumboM" href="#">
                         <div id="lottieChatM"></div>
                <!-- i class="fas fa-comments chat-icon"></i--> 
                </a>
            </a>
        </div>
    </div>
</div>