<nav class="navbar navbar-dark bg-dark" id="navM">
    <div class="container-fluid">
        <div class="row" id="navM__top-row">
            <div class="col-4 text-right">
                <a class="navbar-brand mt-1" href="/"><img src="/assets/logos/B-logo.png" alt="" id="navLogo"></a>
            </div>

            <div class="col-4 text-right">
                <button class="navbar-toggler collapsed mt-2" type="button" data-toggle="collapse"
                    data-target="#mobileDropdown" aria-controls="mobileDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>

            <div class="col-4 text-right search-col">
            {# expand button here #}
            <button id="searchAlt"><i class="fas fa-search"></i></button>              
            </div>                      
        </div>     
    </div>
        <form class="form-inline my-2 my-md-0 slide_in" id="slide-form">
                    <input class="form-control mx-auto" type="text" placeholder="Search" aria-label="Search">                    
                </form>
</nav>

<div class="container mobileContainerDrop">
    <div class="row">
        <div class="navbar-collapse collapse" id="mobileDropdown" style="">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>