<div id="rewardsM" class="container-fluid p-0">
    <div class="whiteBGM p-5">
        <div class="row pt-3">
            <div class="col-sm-12 col-lg-7">
                <h1 class="text-center">We're Taking rewards like:</h1>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 d-flex justify-content-center">
                <ul class="">
                    <li class="">Industry leading pay<span class="listBlue"> (company drivers average 61cpm)</span></li>
                    <li class="">Reliable Home Time<span class="listBlue"> (95% of our drivers and contractors
                        get home each weekend)</span></li>          
                    <li class="">Monthly performance bonus</span></li>
                    <li class="">Matching 401k</span></li>           
                    <li class="">High-quality equipment</span></li>
                    <li class="">A strong freight network</span> <br> to keep your earning power
                        strong
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>