#accordionM{
    display: block;
    .card-header-mobile{
        background-color:#197AFC;
        button{
            color: #fff;
            margin-left: 20%;
        }
        svg{
            float: right;
            color: #fff;
            margin-right: 10%;
            margin-top: 10px;
        }
    }

    #headingMOne{ background-color: #1C97FF;}
    #headingMTwo{ background-color: #197AFC;}
    #headingMThree{ background-color: #1B6DFE;}
    #headingMFour{ background-color: #2157FC;}
    #headingMFive{ background-color: #2831FE;}
    #headingMSix{ background-color: #2A26FE;}

    .bg-white{
        p{
            color: #2E3B5F;
            font-weight: bold;
        }

        ul{
            list-style: square;
            li{
                color: #197AFC;
                font-weight: bold;
                .green{
                color: #33D133;                
                }
                .gray{
                    color: #707070;
                    font-weight: normal;
                }
            }
        }
        a{
            background-color: #33D133;
            color: #fff;
            padding: 10px 25px;
            font-size: 1.2em;
            border-radius: 10px;
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    #accordionM {
        display: none;
    }
}