#blueM{
    h1{
        background-color: #0E7FFF;
        color: #fff;
        text-align: center;
    }

    .blueM-bg{
            background: transparent linear-gradient(180deg,  #007FFF 0%, #000D45 100% ) 0% 0% no-repeat padding-box;

    }
}