#blueM {
    padding: 0px;
    position: relative;

    // display: none;
    h1 {
        background-color: #0E7FFF;
        color: #fff;
        text-align: center;
        margin-bottom: 0px;
    }

    // GLIDE JS
    .glideM {
        .glide__slides {
            margin-bottom: 0px;

            .glide__slide {
                .gallery-cell {
                    // background-color: #007FFF;
                    background-color: #002391;
                    margin-bottom: 0 20px;
                    height: 80px;

                    // width: 150px;   
                    svg {
                        width: 100%;
                        margin: 0 auto;
                    }

                    p {
                        margin-bottom: 0px;
                        text-align: center;
                        // font-size: 12px;
                        color: #fff;
                    }
                }
            }
        }

        // GLIDE BUTTONS
        .glide__arrows {
            .glide__arrow {
                background-color: #003583;
                color: #fff;
                border-radius: 50%;
                border: none;

                svg {}
            }

            .glide__arrow--left {
                margin-left: -80px;
            }

            .glide__arrow--right {
                margin-right: -80px;
            }
        }
    }

    .blueM-bg {
        background: transparent linear-gradient(180deg, #007FFF 0%, #000D45 100%) 0% 0% no-repeat padding-box;

        .blue-text-section {
            color: #fff;

            .left-text {
                text-align: right;

                h2 {
                    font-size: 1.7em !important;
                    border-right: 1px solid #fff;
                    padding-right: 20px;
                }
            }

            .right-text {
                text-align: left;

                h2 {
                    font-size: 1.5em !important;
                }
            }
        }
    }

    #truck-imgM {
        position: absolute;
        transform: translate(7%, -75%);
    }

}

// hide on bigger screens
@media(min-width:880px) {
    #blueM {
        display: none;
    }
}

@media(max-width:575px) {
    #blueM {
        .glideM {

            // GLIDE BUTTONS
            .glide__arrows {
                .glide__arrow {
                    color: #003583;
                    background: #fff;
                    border-radius: 50%;
                    border: none;
                }

                .glide__arrow--left {
                    margin-left: 0px;
                }

                .glide__arrow--right {
                    margin-right: 0px;
                }
            }
        }
    }
}