#jumboM{
    background-image: url('/assets/images/guy-fieri.JPG');
    background-size: cover;
    background-position: center;
    min-height: 450px;
    padding-top: 20px;
    margin-top: 70px;
    a{
        background-color:  #33D133 !important;
        color: #fff;
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        color:#fff;
    }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #jumboM {
        display: none;
    }
  
 }