#accordion {
    .card {
        background-color: #197AFC;

        .card-header {
            button {
                color: #fff;
                margin-left: 30%;
            }

            svg {
                color: #fff;
                float: right;
                font-size: 1.2em;
                margin-right: 5%;
                margin-top: 5px;
            }
        }
        #headingOne{ background-color: #1C97FF;}
        #headingTwo{ background-color: #197AFC;}
        #headingThree{ background-color: #1B6DFE;}
        #headingFour{ background-color: #2157FC;}
        #headingFive{ background-color: #2831FE;}
        #headingSix{ background-color: #2A26FE;}
    }

    .collapse {
        z-index: 100;
        background-color: #fff;
        p {
            color: #2E3B5F;
            font-weight: bold;
        }

        ul {
            li {
                color: #197AFC;
                font-weight: bold;

                .green {
                    color: #33D133;
                }

                .gray {
                    color: #707070;
                    font-weight: normal;
                }
            }
        }

        a {
            background-color: #33D133;
            color: #fff;
            padding: 10px 25px;
            font-size: 1.2em;
            border-radius: 10px;
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

    #accordion {
        display: none;
    }
}