#blue {
    position: relative;
    background: transparent linear-gradient(180deg, #000D45 0%, #007FFF 100%) 0% 0% no-repeat padding-box;

    .blue-top {
        background-color: #0E7FFF;

        h1 {
            color: #fff;
            text-align: center;
            width: 100%;
        }
    }

    .blue-bottom {
        background-image: url("/assets/images/Her");
        color: #fff;

        h3 {
            border-top: 1px solid #fff;
            margin-top: 2em;
            width: 70%;
        }

        .glide {
            .glide__slide {
                min-height: 120px;
                background-color: #002391;
                padding: 5px;
                border-radius: 10px;

                .gallery-cell {
                    position: relative;                    
                    border-radius: 5px;
                    text-align: center;
                    svg{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
            // GLIDE BUTTONS
            .glide__arrows{
                .glide__arrow {
                 background: #003583;
                 border-radius: 50%;
                 border: none;
                 svg{
                    
                 }
                }
                .glide__arrow--left{
                    margin-left: -80px;
                }
                .glide__arrow--right{
                    margin-right: -80px;
                }
            }
        }      
    }

    #truck-img {
        position: absolute;
        top: 20%;
        right: 10%;
        transform: translateY(20%);
        height: 600px;
    }
}

// super large screens
@media(max-width:1400px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 20%;
            right: 10%;
            transform: translateY(20%);
            height: 500px;
        }
    }
}

@media(max-width:1400px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translateY(20%);
            height: 450px;
        }
    }
}

@media(max-width:1000px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 35%;
            right: 5%;
            transform: translateY(20%);
            height: 350px;
        }
    }
}

@media(max-width:880px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(25%);
            height: 250px;
        }
    }
}

// HIDE ON CELL

@media(max-width:880px) {
    #blue {
        display: none;
    }
}