#blue {
    position: relative;
    background: transparent linear-gradient(180deg, #000D45 0%, #007FFF 100%) 0% 0% no-repeat padding-box;

    .blue-top {
        background-color: #0E7FFF;

        h1 {
            color: #fff;
            text-align: center;
            width: 100%;
        }
    }

    .blue-bottom {
        background-image: url("/assets/images/Her");
        color: #fff;

        h3 {
            border-top: 1px solid #fff;
            margin-top: 2em;
            width: 70%;
        }

        .js-flickity {
            overflow: hidden;
            position: relative;

            .gallery-cell {
                position: relative;
                width: 28%;
                height: 150px;
                margin-right: 10px;
                background: #8C8;
                border-radius: 5px;
                counter-increment: carousel-cell;
            }

            .gallery-cell.is-selected {
                background: #03427c;
            }

            /* cell number */
            .gallery-cell:before {
                display: block;
                text-align: center;
                // content: counter(carousel-cell);
                line-height: 200px;
                font-size: 80px;
                color: white;
            }

            .gallery-cell {
                background-color: #002391;
                width: 25%;
                text-align: center;
                margin: 0 5px;
                border-radius: 5px;
            }

            /* smaller, dark, rounded square */
            .flickity-button {
                background: #333;
            }

            .flickity-button:hover {
                background: #F90;
            }

            .flickity-prev-next-button {
                width: 30px;
                height: 30px;
                border-radius: 5px;
            }

            /* icon color */
            .flickity-button-icon {
                fill: white;
            }

            /* position outside */
            .flickity-prev-next-button.previous {
                // left: -40px;
                position: absolute;
                top: 40%;
                left: 0;
            }

            .flickity-prev-next-button.next {
                // right: -40px;
                position: absolute;
                top: 40%;
                right: 0%;
            }

        }
    }

    #truck-img {
        position: absolute;
        top: 20%;
        right: 10%;
        transform: translateY(20%);
        height: 600px;
    }
}

// super large screens
@media(max-width:1400px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 20%;
            right: 10%;
            transform: translateY(20%);
            height: 500px;
        }
    }
}

@media(max-width:1400px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translateY(20%);
            height: 450px;
        }
    }
}

@media(max-width:1000px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 35%;
            right: 5%;
            transform: translateY(20%);
            height: 350px;
        }
    }
}

@media(max-width:880px) {
    #blue {
        #truck-img {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(25%);
            height: 250px;
        }
    }
}

// HIDE ON CELL

@media(max-width:880px) {
    #blue { 
        display: none;
    }
}