#green{
    h1{
        color: #33D133;
    }   

    ul{
        list-style: none;
        li{
            color: #797979;
            font-size: 1.2em;
            font-weight: bold;
            svg{
                color: #007AC5;
            }            
        }
        li:nth-child(2){
            padding-top: 20px;
        }
    }

    .greenApply{
        background: rgb(149,253,149);
        background: linear-gradient(180deg, rgba(149,253,149,1) 0%, rgba(51,209,51,1) 48%);        text-align: center;
        padding:  20px 30px;

        a{
            color: #fff;
            margin: 0 auto;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: bold;
            width: 80%;
        }
    }
}