#rewards {
    h1 {
        color: #022ab1;
    }

    ul {
        li {
            list-style: square !important;
            color: #022ab1;
            font-weight: bold;

            .listBlue {
                color: #8f8f8f;
                font-weight: 400;
            }
        }

        li:nth-child(2) {
            padding-top: 20px;
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

    #rewards {
        display: none;
    }
}