<div class="container-fluid" id="featureJobs">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div id="fJobaccordion">

                <div class="card fjobs-card">
                    <div class="card-header fjobs-card-header" id="fJobOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#fJobOneCollapse"
                                aria-expanded="true" aria-controls="fJobOne">
                                Featured Job #1
                            </button>
                        </h5>
                    </div>
                    <div id="fJobOneCollapse" class="collapse" aria-labelledby="fJobOne"
                        data-parent="#fJobaccordion">
                        <div class="card-body">
                            <h1 class="fjobsHeader">Here is what to expect with our quick app</h1>
                            <ul>
                            <li><i class="far fa-clock"></i> Time - it takes about 2 min.</li>
                            <li><i class="far fa-clock"></i> if you'd like We'll contact you &amp;
                             help you take the next step</li>
                            <li><i class="far fa-star"></i> We'll preapprove you giving you a 
                            head start</li>
                            <li><i class="fas fa-history"></i> You'll get the opportunity To recieve
                            job alerts &amp; updates</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card fjobs-card">
                    <div class="card-header fjobs-card-header" id="fJobTwoHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#fJobTwoCollapse"
                                aria-expanded="false" aria-controls="fJobTwo">
                                Featured Job #2
                            </button>
                        </h5>
                    </div>
                    <div id="fJobTwoCollapse" class="collapse" aria-labelledby="fJobTwo" data-parent="#fJobaccordion">
                        <div class="card-body">
                            <h1 class="fjobsHeader">Here is what to expect with our quick app</h1>
                              <ul>
                            <li><i class="far fa-clock"></i> Time - it takes about 2 min.</li>
                            <li><i class="far fa-clock"></i> if you'd like We'll contact you &amp;
                             help you take the next step</li>
                            <li><i class="far fa-star"></i> We'll preapprove you giving you a 
                            head start</li>
                            <li><i class="fas fa-history"></i> You'll get the opportunity To recieve
                            job alerts &amp; updates</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card fjobs-card">
                    <div class="card-header fjobs-card-header" id="fJobThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#fJobThreeCollapse" aria-expanded="false" aria-controls="fJobThree">
                                Featured Job #3
                            </button>
                        </h5>
                    </div>
                    <div id="fJobThreeCollapse" class="collapse" aria-labelledby="fJobThree"
                        data-parent="#fJobaccordion">
                        <div class="card-body">
                            <h1 class="fjobsHeader">Here is what to expect with our quick app</h1>
                              <ul>
                            <li><i class="far fa-clock"></i> Time - it takes about 2 min.</li>
                            <li><i class="far fa-clock"></i> if you'd like We'll contact you &amp;
                             help you take the next step</li>
                            <li><i class="far fa-star"></i> We'll preapprove you giving you a 
                            head start</li>
                            <li><i class="fas fa-history"></i> You'll get the opportunity To recieve
                            job alerts &amp; updates</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>