<div class="container-fluid" id="greenApplyJobs">
<div class="row greenApply">
    <a href="#"><i class="far fa-check-circle"></i> Fill out a quick app and we'll help you get started</a>
    </div>
</div>