<div class="container-fluid" id="greenApplyJobs">
<div class="row greenApply">
    <a href="#"><span id="applyLottie2"></span>  Fill out a quick app and we'll help you get started</a>
    </div>
</div>