<div class="container-fluid" id="social">
<div class="row" id="white-space">
</div>
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3 ">
         <ul class="social">
            <li><i class="fab fa-facebook-square"></i> share this job on Facebook</li>
            <li><i class="fab fa-linkedin"></i> Share this job on Linkedin</li>
            <li><i class="fas fa-sms"></i></li>
         </ul>

        </div>
    </div>
</div>