#social {
    background: rgb(247, 247, 247);
    background: linear-gradient(180deg, rgba(247, 247, 247, 1) 0%, rgba(199, 199, 199, 1) 50%);
    #white-space{
        // background-color: #fff;
        height: 30px;
    }
    ul{
        list-style: none;
        text-align: center;
        margin-bottom: 0em;
        padding:1.8em 0;
        li{
            display: inline-block;
            font-size: 1em;
            padding: 0 10px;
            color: #989898;

            svg{
                font-size: 2em;
                color: #989898;
                padding-right: 2px;
            }
        }
    }
}

@media(max-width:700px){
    #social {
        #white-space{
            // background-color: #fff;
            height: 50px;
        }
        ul{
            list-style: none;
            text-align: center;
            margin-bottom: 0em;
            padding:1.8em 0;
            li{
                display: inline-block;
                font-size: 1em;
                padding: 0 10px;
                color: #989898;
    
                svg{
                    // font-size: 3em;
                    color: #989898;
                    padding-right: 2px;
                }
            }
        }
    }
}