#thankYouGreen{
    .liteGreenBG{
        background-color: #2EB53C;
        color: #fff;
    }
    .darkGreen-bg{
        background-color: #0E8E20;
        img{
            height: 300px;
        }
    }
}

