  
#shortform{
    display: flex;
}

.black-form {
    background: rgb(62, 64, 64);
    background: -moz-linear-gradient(25deg, rgba(62, 64, 64, 1) 0%, rgba(25, 35, 38, 1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(62, 64, 64, 1) 0%, rgba(25, 35, 38, 1) 100%);
    background: linear-gradient(25deg, rgba(62, 64, 64, 1) 0%, rgba(25, 35, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e4040", endColorstr="#192326", GradientType=1);
}

.gray-form {
    background: #5C5C5C;
    background: -moz-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
    background: -webkit-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
    background: linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
}


// SUCCESS BACKGROUND
.green-form {
    background-color: #76C168;
}

.form-style{
    label{
        color: #fff;
    }
}