#nav {
  background: transparent linear-gradient(180deg, #676767 0%, #292929 100%) 0% 0% no-repeat padding-box; }
  #nav .row {
    padding: 15px 0px;
    text-align: center; }
    #nav .row ul {
      margin-bottom: 0px; }
      #nav .row ul li {
        background-color: inherit;
        border: none;
        padding: 0px;
        display: inline-block; }
        #nav .row ul li a {
          color: #fff;
          border-right: solid 3px #fff;
          padding: 0px 15px; }
    #nav .row form input {
      border-radius: 10px;
      background-color: #B2B2B2;
      color: #6F6F6F;
      border-color: #B2B2B2;
      padding: 5px 10px;
      font-size: .9em;
      font-weight: bold;
      float: left;
      width: 80%; }
    #nav .row form .fa-search {
      font-size: 1.1em;
      color: #33D133;
      margin-top: 10px; }

@media (max-width: 768px) {
  #nav {
    display: none; } }

#jumbo {
  background-image: url("/assets/images/Hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  min-height: 100%;
  background-position: center center;
  position: relative; }
  #jumbo .jumbo-top {
    padding: 5em 0px;
    text-align: center; }
    #jumbo .jumbo-top .headline-col h2 {
      color: #002275;
      font-size: 3em;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase; }
    #jumbo .jumbo-top .span-divider {
      border-left: 6px solid #fff;
      min-height: 100px;
      display: block; }
  #jumbo .jumbo-bottom {
    text-align: center; }
    #jumbo .jumbo-bottom a {
      background-color: #33D133;
      color: #fff;
      font-size: 2em;
      border-radius: 10px; }
  #jumbo .contactJumbo {
    position: fixed;
    z-index: 1000;
    bottom: 5%;
    right: 5%;
    width: 90px;
    background-color: #33D133;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 10px; }
    #jumbo .contactJumbo .chat-icon {
      font-size: 40px; }

@media (max-width: 576px) {
  #jumbo {
    display: none; } }

#blue {
  position: relative;
  background: transparent linear-gradient(180deg, #000D45 0%, #007FFF 100%) 0% 0% no-repeat padding-box; }
  #blue .blue-top {
    background-color: #0E7FFF; }
    #blue .blue-top h1 {
      color: #fff;
      text-align: center;
      width: 100%; }
  #blue .blue-bottom {
    background-image: url("/assets/images/Her");
    color: #fff; }
    #blue .blue-bottom h3 {
      border-top: 1px solid #fff;
      margin-top: 2em;
      width: 70%; }
    #blue .blue-bottom .glide .glide__slide {
      min-height: 120px;
      background-color: #002391;
      padding: 5px;
      border-radius: 10px; }
      #blue .blue-bottom .glide .glide__slide .gallery-cell {
        position: relative;
        border-radius: 5px;
        text-align: center; }
        #blue .blue-bottom .glide .glide__slide .gallery-cell svg {
          width: 100%;
          margin: 0 auto; }
    #blue .blue-bottom .glide .glide__arrows .glide__arrow {
      background: #003583;
      border-radius: 50%;
      border: none; }
    #blue .blue-bottom .glide .glide__arrows .glide__arrow--left {
      margin-left: -80px; }
    #blue .blue-bottom .glide .glide__arrows .glide__arrow--right {
      margin-right: -80px; }
  #blue #truck-img {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translateY(20%);
    height: 600px; }

@media (max-width: 1400px) {
  #blue #truck-img {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translateY(20%);
    height: 500px; } }

@media (max-width: 1400px) {
  #blue #truck-img {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translateY(20%);
    height: 450px; } }

@media (max-width: 1000px) {
  #blue #truck-img {
    position: absolute;
    top: 35%;
    right: 5%;
    transform: translateY(20%);
    height: 350px; } }

@media (max-width: 880px) {
  #blue #truck-img {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(25%);
    height: 250px; } }

@media (max-width: 880px) {
  #blue {
    display: none; } }

#rewards h1 {
  color: #022ab1; }

#rewards ul li {
  list-style: square !important;
  color: #022ab1;
  font-weight: bold; }
  #rewards ul li .listBlue {
    color: #8f8f8f;
    font-weight: 400; }

#rewards ul li:nth-child(2) {
  padding-top: 20px; }

@media (max-width: 768px) {
  #rewards {
    display: none; } }

#cta {
  clip-path: polygon(50% 13%, 100% 0, 100% 100%, 0 100%, 0 0);
  background: transparent linear-gradient(180deg, #007FFF 0%, #000D45 100%) 0% 0% no-repeat padding-box;
  position: relative; }
  #cta h1 {
    color: #fff;
    font-size: 2.2em;
    padding: 20px 0px;
    text-align: center; }

#truckIMG {
  background-image: url("/assets/images/BlueTRuckXD@2x.png");
  height: 400px;
  background-size: cover;
  background-position: center center;
  position: relative; }
  #truckIMG a {
    background-color: #33D133;
    color: #fff;
    font-size: 1.8em;
    padding: 15px 40px;
    border-radius: 15px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25px);
    width: 30%;
    text-align: center; }

@media (max-width: 768px) {
  #cta h1 {
    font-size: 1.5em; }
  #truckIMG {
    height: 250px !important;
    background-position: center; }
    #truckIMG a {
      font-size: 1.3em;
      width: 60%;
      text-align: center; } }

#green h1 {
  color: #33D133; }

#green ul {
  list-style: none; }
  #green ul li {
    color: #797979;
    font-size: 1.2em;
    font-weight: bold; }
    #green ul li svg {
      color: #007AC5; }
  #green ul li:nth-child(2) {
    padding-top: 20px; }

#green .greenApply {
  background: #95fd95;
  background: linear-gradient(180deg, #95fd95 0%, #33d133 48%);
  text-align: center;
  padding: 20px 30px; }
  #green .greenApply a {
    color: #fff;
    margin: 0 auto;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%; }
    #green .greenApply a #applyLottie svg {
      height: 80px !important;
      width: 80px !important;
      margin-left: -30px; }

#road {
  background-image: url("/assets/images/GettyImages-117146059@2x.png");
  background-size: cover;
  background-position: center; }
  #road h1 {
    color: #fff;
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: bold; }

#accordion .card {
  background-color: #197AFC; }
  #accordion .card .card-header button {
    color: #fff;
    margin-left: 30%; }
  #accordion .card .card-header svg {
    color: #fff;
    float: right;
    font-size: 1.2em;
    margin-right: 5%;
    margin-top: 5px; }
  #accordion .card #headingOne {
    background-color: #1C97FF; }
  #accordion .card #headingTwo {
    background-color: #197AFC; }
  #accordion .card #headingThree {
    background-color: #1B6DFE; }
  #accordion .card #headingFour {
    background-color: #2157FC; }
  #accordion .card #headingFive {
    background-color: #2831FE; }
  #accordion .card #headingSix {
    background-color: #2A26FE; }

#accordion .collapse {
  z-index: 100;
  background-color: #fff; }
  #accordion .collapse p {
    color: #2E3B5F;
    font-weight: bold; }
  #accordion .collapse ul li {
    color: #197AFC;
    font-weight: bold; }
    #accordion .collapse ul li .green {
      color: #33D133; }
    #accordion .collapse ul li .gray {
      color: #707070;
      font-weight: normal; }
  #accordion .collapse a {
    background-color: #33D133;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    border-radius: 10px; }

@media (max-width: 768px) {
  #accordion {
    display: none; } }

#bottom {
  background: transparent linear-gradient(180deg, #000D45 0%, #007FFF 100%) 0% 0% no-repeat padding-box;
  display: block; }
  #bottom .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #bottom .left form input {
      background-color: #D9D9D9; }
    #bottom .left form button {
      background-color: #33D133;
      color: #fff;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px; }
    #bottom .left h4 {
      color: #fff;
      margin-top: 30px;
      transform: translateX(-10%); }
    #bottom .left ul {
      list-style: none;
      padding-bottom: 20px;
      padding-left: 0px;
      transform: translateX(-45%); }
      #bottom .left ul li {
        display: inline-block;
        padding: 0px 7px; }
        #bottom .left ul li svg {
          color: #83D3CB;
          font-size: 1.5em; }
    #bottom .left a {
      color: #fff;
      transform: translateX(-105%); }
  #bottom .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #bottom .right ul {
      list-style: none;
      padding-left: 0px; }
      #bottom .right ul li {
        display: inline-block;
        color: #fff;
        font-weight: bold;
        padding: 0px 5px; }
        #bottom .right ul li .green-number,
        #bottom .right ul li svg {
          color: #33D133; }
        #bottom .right ul li svg {
          font-size: 1.5em; }
        #bottom .right ul li img {
          height: 75px; }
    #bottom .right img {
      height: 100px; }

@media (max-width: 780px) {
  #bottom {
    display: none; } }

#navM {
  display: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%; }
  #navM #navM__top-row {
    width: 100%;
    position: relative; }
    #navM #navM__top-row #navLogo {
      height: 40px;
      margin-top: -10px; }
    #navM #navM__top-row button {
      border: none; }
    #navM #navM__top-row button:focus {
      outline: none; }
    #navM #navM__top-row #searchAlt svg {
      color: #33D133;
      font-size: 1.5em; }
    #navM #navM__top-row form {
      position: absolute;
      top: 0;
      right: -300%;
      display: none; }

.mobileContainerDrop {
  position: absolute;
  z-index: 100; }

#mobileDropdown {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px 40px;
  position: fixed;
  width: 100%; }
  #mobileDropdown ul {
    width: 80%;
    text-align: center; }
    #mobileDropdown ul li {
      border-bottom: 1.2px dashed #7a7373 !important;
      text-transform: uppercase; }
      #mobileDropdown ul li a {
        color: #3E3E3E; }

@media (max-width: 768px) {
  #navM {
    display: block; } }

#jumboM {
  background-image: url("/assets/images/guy-fieri.JPG");
  background-size: cover;
  background-position: center;
  min-height: 450px;
  padding-top: 20px;
  margin-top: 70px; }
  #jumboM a {
    background-color: #33D133 !important;
    color: #fff; }
  #jumboM h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; }

@media (min-width: 576px) {
  #jumboM {
    display: none; } }

#contactM {
  position: relative; }
  #contactM img {
    height: 100px; }
  #contactM .contactJumboM {
    position: fixed;
    z-index: 1000;
    bottom: 10%;
    right: 10%;
    width: 90px;
    background-color: #33D133;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 10px; }
    #contactM .contactJumboM .chat-icon {
      font-size: 40px; }

@media (min-width: 576px) {
  #contactM {
    display: none; } }

#blueM {
  padding: 0px;
  position: relative; }
  #blueM h1 {
    background-color: #0E7FFF;
    color: #fff;
    text-align: center;
    margin-bottom: 0px; }
  #blueM .glideM .glide__slides {
    margin-bottom: 0px; }
    #blueM .glideM .glide__slides .glide__slide .gallery-cell {
      background-color: #002391;
      margin-bottom: 0 20px;
      height: 80px; }
      #blueM .glideM .glide__slides .glide__slide .gallery-cell svg {
        width: 100%;
        margin: 0 auto; }
      #blueM .glideM .glide__slides .glide__slide .gallery-cell p {
        margin-bottom: 0px;
        text-align: center;
        color: #fff; }
  #blueM .glideM .glide__arrows .glide__arrow {
    background-color: #003583;
    color: #fff;
    border-radius: 50%;
    border: none; }
  #blueM .glideM .glide__arrows .glide__arrow--left {
    margin-left: -80px; }
  #blueM .glideM .glide__arrows .glide__arrow--right {
    margin-right: -80px; }
  #blueM .blueM-bg {
    background: transparent linear-gradient(180deg, #007FFF 0%, #000D45 100%) 0% 0% no-repeat padding-box; }
    #blueM .blueM-bg .blue-text-section {
      color: #fff; }
      #blueM .blueM-bg .blue-text-section .left-text {
        text-align: right; }
        #blueM .blueM-bg .blue-text-section .left-text h2 {
          font-size: 1.7em !important;
          border-right: 1px solid #fff;
          padding-right: 20px; }
      #blueM .blueM-bg .blue-text-section .right-text {
        text-align: left; }
        #blueM .blueM-bg .blue-text-section .right-text h2 {
          font-size: 1.5em !important; }
  #blueM #truck-imgM {
    position: absolute;
    transform: translate(7%, -75%); }

@media (min-width: 880px) {
  #blueM {
    display: none; } }

@media (max-width: 575px) {
  #blueM .glideM .glide__arrows .glide__arrow {
    color: #003583;
    background: #fff;
    border-radius: 50%;
    border: none; }
  #blueM .glideM .glide__arrows .glide__arrow--left {
    margin-left: 0px; }
  #blueM .glideM .glide__arrows .glide__arrow--right {
    margin-right: 0px; } }

#rewardsM {
  display: none; }
  #rewardsM h1 {
    color: #022ab1; }
  #rewardsM ul li {
    list-style: square !important;
    color: #022ab1;
    font-weight: bold;
    padding-top: 15px; }
    #rewardsM ul li .listBlue {
      color: #8f8f8f;
      font-weight: 400; }

@media (max-width: 768px) {
  #rewardsM {
    display: block; } }

#accordionM {
  display: block; }
  #accordionM .card-header-mobile {
    background-color: #197AFC;
    transition: all 3s; }
    #accordionM .card-header-mobile button {
      color: #fff;
      margin-left: 20%; }
    #accordionM .card-header-mobile svg {
      float: right;
      color: #fff;
      margin-right: 10%;
      margin-top: 10px; }
  #accordionM #headingMOne {
    background-color: #1C97FF; }
  #accordionM #headingMTwo {
    background-color: #197AFC; }
  #accordionM #headingMThree {
    background-color: #1B6DFE; }
  #accordionM #headingMFour {
    background-color: #2157FC; }
  #accordionM #headingMFive {
    background-color: #2831FE; }
  #accordionM #headingMSix {
    background-color: #2A26FE; }
  #accordionM .bg-white p {
    color: #2E3B5F;
    font-weight: bold; }
  #accordionM .bg-white ul {
    list-style: square; }
    #accordionM .bg-white ul li {
      color: #197AFC;
      font-weight: bold; }
      #accordionM .bg-white ul li .green {
        color: #33D133; }
      #accordionM .bg-white ul li .gray {
        color: #707070;
        font-weight: normal; }
  #accordionM .bg-white a {
    background-color: #33D133;
    color: #fff;
    padding: 10px 25px;
    font-size: 1.2em;
    border-radius: 10px; }

@media (min-width: 768px) {
  #accordionM {
    display: none; } }

#bottomM {
  background: transparent linear-gradient(180deg, #000D45 0%, #007FFF 100%) 0% 0% no-repeat padding-box;
  display: none; }
  #bottomM .formM {
    display: flex;
    width: 90%; }
    #bottomM .formM input {
      background-color: #D9D9D9; }
    #bottomM .formM button {
      background-color: #33D133;
      color: #fff;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: 5px; }
  #bottomM ul {
    list-style: none;
    padding-bottom: 20px;
    padding-left: 0px; }
    #bottomM ul li {
      display: inline-block;
      padding: 0px 7px;
      color: #fff;
      font-weight: bold;
      text-transform: capitalize; }
      #bottomM ul li .green-number {
        color: #33D133; }
      #bottomM ul li svg {
        color: #33D133;
        transform: translateY(-40%);
        font-size: 2em; }
      #bottomM ul li img {
        height: 50px;
        transform: translateY(-20%); }
    #bottomM ul .borderRightM {
      border-right: 1px solid #fff;
      padding-right: 15px; }
  #bottomM h4 {
    color: #fff; }
  #bottomM .mobile-icons {
    list-style: none;
    padding-bottom: 20px;
    padding-left: 0px; }
    #bottomM .mobile-icons li {
      display: inline-block;
      padding: 0px 7px; }
      #bottomM .mobile-icons li svg {
        color: #83D3CB !important;
        font-size: 1.5em; }
  #bottomM a {
    color: #fff; }
  #bottomM .logoM {
    height: 50px;
    transform: translateX(50%); }

@media (max-width: 780px) {
  #bottomM {
    display: block; } }

#searchController {
  background-image: url("assets/images/jobSearch.jpg");
  background-size: cover; }
  #searchController .row {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    filter: grayscale(30%); }
    #searchController .row h1 {
      color: #fff; }
    #searchController .row input {
      width: 100%;
      background-color: #EAEAEA !important;
      border-radius: 5px;
      padding: 2px; }
    #searchController .row select {
      background-color: #EAEAEA !important; }
    #searchController .row button {
      background-color: #8D8D8D;
      border-width: 1px;
      border-color: #33D133;
      border-radius: 5px;
      color: #fff;
      padding: 10px 35px; }

@media (max-width: 768px) {
  #searchController {
    margin-top: 70px; } }

#featureJobs {
  background-color: #E2E2E2; }
  #featureJobs .fjobs-card {
    background-color: #F2F2F2;
    margin: .5em 0px; }
    #featureJobs .fjobs-card .fjobs-card-header {
      background-color: #F2F2F2; }
      #featureJobs .fjobs-card .fjobs-card-header button {
        color: #33D133;
        font-weight: bold; }
    #featureJobs .fjobs-card .card-body {
      background-color: #e7e7e7;
      text-align: center; }
      #featureJobs .fjobs-card .card-body .fjobsHeader {
        color: #33D133;
        font-size: 1em; }
      #featureJobs .fjobs-card .card-body ul {
        list-style: none;
        text-align: left; }
        #featureJobs .fjobs-card .card-body ul li {
          color: #797979;
          font-weight: bold; }
          #featureJobs .fjobs-card .card-body ul li svg {
            color: #007AC5; }

#greenApplyJobs {
  background: #95fd95;
  background: linear-gradient(180deg, #95fd95 0%, #33d133 48%);
  padding: 1em; }
  #greenApplyJobs a {
    color: #fff;
    font-size: 2.1em;
    text-transform: capitalize;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    #greenApplyJobs a #applyLottie2 svg {
      height: 80px !important;
      width: 80px !important;
      margin-left: -30px; }

@media (max-width: 768px) {
  #greenApplyJobs a {
    font: 1em;
    width: 80%; } }

#jobEntry {
  margin-top: 70px; }
  #jobEntry h1, #jobEntry h2 {
    color: #2B4DD2;
    text-align: center;
    text-transform: capitalize; }
  #jobEntry p {
    color: #676767;
    font-size: 1em; }
  #jobEntry .benefits {
    font-weight: normal;
    width: 80%; }
  #jobEntry ul {
    margin-top: 2em; }
    #jobEntry ul li {
      color: #2B4DD2;
      padding: 5px 0; }
      #jobEntry ul li .grey-text {
        color: #676767;
        font-weight: 600; }
  #jobEntry .reputation {
    margin-top: 2em;
    font-size: 1.1em;
    font-weight: bold; }
  #jobEntry .entryImg {
    margin: 0 auto;
    display: block; }
  #jobEntry #entryTruck {
    height: 175px;
    margin-top: -35px; }
  #jobEntry #entryLogo {
    height: 100px; }

#blueEntry {
  background-color: #1590F8;
  padding: 2em; }
  #blueEntry h3 {
    color: #fff; }

#social {
  background: #f7f7f7;
  background: linear-gradient(180deg, #f7f7f7 0%, #c7c7c7 50%); }
  #social #white-space {
    height: 10px; }
  #social ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0em;
    padding: 1.4em 0; }
    #social ul li {
      display: inline-block;
      font-size: 2.5em;
      padding: 0 10px;
      color: #989898; }
      #social ul li svg {
        color: #989898;
        padding-right: 2px; }

@media (max-width: 700px) {
  #social #white-space {
    height: 20px; }
  #social ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0em;
    padding: 1.2em 0; }
    #social ul li {
      display: inline-block;
      font-size: 2em;
      padding: 0 10px;
      color: #989898; }
      #social ul li svg {
        color: #989898;
        padding-right: 2px; } }

#listings {
  background-color: #EEEEEE; }
  #listings h1 {
    font-size: 1.5em !important;
    font-style: italic; }
  #listings .jobBrief {
    background-color: #fff;
    margin: 10px 0px;
    padding: .5em 1em; }
    #listings .jobBrief .briefTitle {
      font-size: 1em !important;
      color: #999999;
      font-style: normal;
      font-weight: 400; }
    #listings .jobBrief p {
      font-size: .8em;
      margin-bottom: 2px; }
    #listings .jobBrief a {
      background-color: #33D133;
      color: #fff; }
    #listings .jobBrief .bottomBrief {
      margin-top: 5px;
      display: inline-block;
      width: 100%; }
      #listings .jobBrief .bottomBrief .briefLeft {
        float: left;
        width: 50%; }
      #listings .jobBrief .bottomBrief .briefRight {
        float: right;
        width: 50%; }
        #listings .jobBrief .bottomBrief .briefRight ul {
          padding-left: 0px;
          margin-bottom: 0px; }
          #listings .jobBrief .bottomBrief .briefRight ul li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 10px; }
            #listings .jobBrief .bottomBrief .briefRight ul li .noBG {
              background-color: #fff !important; }
              #listings .jobBrief .bottomBrief .briefRight ul li .noBG svg {
                font-size: 1.8em;
                color: #83D3CB; }
  #listings .pagination {
    display: block;
    padding: 2em 0px;
    width: auto;
    margin: 0 auto; }
    #listings .pagination li {
      display: inline-block; }
      #listings .pagination li a {
        color: #33D133;
        background-color: #fff; }

#searchResults {
  background-color: #EEEEEE; }
  #searchResults h1 {
    font-size: 1.5em !important;
    font-style: italic; }
  #searchResults .jobResultBrief {
    background-color: #fff;
    margin: 10px 0px;
    padding: .5em 1em; }
    #searchResults .jobResultBrief .briefResultTitle {
      font-size: 1em !important;
      color: #999999;
      font-style: normal;
      font-weight: 400; }
    #searchResults .jobResultBrief p {
      font-size: .8em;
      margin-bottom: 2px; }
    #searchResults .jobResultBrief a {
      background-color: #33D133;
      color: #fff; }
    #searchResults .jobResultBrief .bottomResultBrief {
      margin-top: 5px;
      display: inline-block;
      width: 100%; }
      #searchResults .jobResultBrief .bottomResultBrief .briefResultLeft {
        float: left;
        width: 50%; }
      #searchResults .jobResultBrief .bottomResultBrief .briefResultRight {
        float: right;
        width: 50%; }
        #searchResults .jobResultBrief .bottomResultBrief .briefResultRight ul {
          padding-left: 0px;
          margin-bottom: 0px; }
          #searchResults .jobResultBrief .bottomResultBrief .briefResultRight ul li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 10px; }
            #searchResults .jobResultBrief .bottomResultBrief .briefResultRight ul li .noBG {
              background-color: #fff !important; }
              #searchResults .jobResultBrief .bottomResultBrief .briefResultRight ul li .noBG svg {
                font-size: 1.8em;
                color: #83D3CB; }
  #searchResults .pagination {
    display: block;
    padding: 2em 0px;
    width: auto;
    margin: 0 auto; }
    #searchResults .pagination li {
      display: inline-block; }
      #searchResults .pagination li a {
        color: #33D133;
        background-color: #fff; }

#shortform {
  display: flex; }

select,
input {
  background-color: #AAAAAA !important;
  border: solid 1px #aaaaaa !important; }

.blue-form {
  background: #394572;
  background: linear-gradient(63deg, #394572 0%, #6498ae 64%); }
  .blue-form .bt-green:first-of-type {
    border: 1px solid  #33D133;
    color: #fff;
    background-color: inherit !important; }
  .blue-form .bt-green:nth-of-type(2) {
    background-color: #33D133;
    color: #fff; }

.dark-form {
  background: #021627;
  background: linear-gradient(149deg, #021627 0%, #2c2f5b 53%); }
  .dark-form .bt-green:first-of-type {
    border: 1px solid  #33D133;
    color: #fff;
    background-color: inherit !important; }
  .dark-form .bt-green:nth-of-type(2) {
    background-color: #33D133;
    color: #fff; }

.formLogo {
  display: inherit;
  margin: 0 auto; }

.blockquote {
  color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em; }
  .blockquote .small {
    font-size: .6em; }
    .blockquote .small .line {
      display: block;
      border: solid 1px #fff;
      float: right;
      width: 50%;
      transform: translateY(400%);
      margin-left: -30px; }
  .blockquote .bold {
    font-weight: bold; }
  .blockquote .blockquote-footer {
    color: #fff !important;
    float: right;
    font-size: 12px !important;
    font-weight: bold; }

.green-form {
  background-color: #76C168; }

.form-style label {
  color: #fff; }

.progress-indicator .li-text {
  color: #fff !important; }

.btn-green {
  background-color: #33D133;
  color: #fff; }

@media (max-width: 768px) {
  .utility-site-content {
    margin-top: 70px; } }

#thankYouGreen .liteGreenBG {
  background-color: #2EB53C;
  color: #fff; }

#thankYouGreen .darkGreen-bg {
  background-color: #0E8E20; }
  #thankYouGreen .darkGreen-bg img {
    height: 250px; }

#thankYouGreen .gradientBG {
  background: #33d133;
  background: linear-gradient(180deg, rgba(51, 209, 51, 0.965424) 0%, #1a3a69 66%); }
  #thankYouGreen .gradientBG h1,
  #thankYouGreen .gradientBG p {
    color: #fff;
    text-align: center; }
  #thankYouGreen .gradientBG .buttonRow .btn-success {
    background-color: #33D133; }
  #thankYouGreen .gradientBG .buttonRow .rateSite {
    font-size: .6em;
    color: #fff; }
  #thankYouGreen .gradientBG .socialThankYou {
    margin-top: 3em; }
    #thankYouGreen .gradientBG .socialThankYou ul {
      padding-left: 0px;
      list-style: none;
      text-align: center; }
      #thankYouGreen .gradientBG .socialThankYou ul li {
        display: inline;
        padding-right: 10px; }
        #thankYouGreen .gradientBG .socialThankYou ul li svg {
          color: #83D3CB !important;
          font-size: 2.4em; }

#survey .greenSurvey {
  background-color: #1BFF4F;
  color: #fff; }

* {
  font-family: 'Roboto', sans-serif !important; }

html {
  overflow: scroll; }

body {
  overflow-x: hidden;
  position: relative; }

.rotate-chevron {
  transform: rotate(180deg); }

div#carousel_wrapper {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 100px; }
  div#carousel_wrapper ul {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 300px;
    height: 50px;
    overflow: hidden; }
    div#carousel_wrapper ul li {
      list-style: none;
      float: left; }
      div#carousel_wrapper ul li div {
        border: 1px solid white;
        width: 50px;
        height: 50px;
        background-color: gray; }
